<!-- wp:template-part {"slug":"header","theme":"startup-consultant","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:pattern {"slug":"startup-consultant/slider-section"} /-->

<!-- wp:pattern {"slug":"startup-consultant/about-section"} /-->

<!-- wp:pattern {"slug":"startup-consultant/our-process-section"} /-->

<!-- wp:pattern {"slug":"startup-consultant/latest-blog"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"startup-consultant","tagName":"footer"} /-->